.wrapper{
  display: flex;
}

.side-bar{
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.side-bar-header{
  background-color: #253141;
  height: 100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rooms{
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.chat{
  background-color: #ffffff;
  width: calc(100vw - 300px);
}

.chat-header{
  background-color: #ffffff;
  height: 100px;
  padding: 0 40px;
}

.messages{
   background-color: #fafafa;
   height: calc(100vh - 190px);
   padding: 46px 40px 0;
}

.form{
  background-color: #dddddd;
  height: 90px;
  padding: 20px 40px;
}

.header-name a{
  text-decoration: none;
  font-size: 16px;
  color: #fafafa;
}

.create-room a{
  padding: 14px;
  text-decoration: none;
  border: 1px solid lightblue;
  font-size: 10px;
  color: deepskyblue;
}

.room{
  padding: 20px 0 40px;
}

.room-name a{
  color: white;
  text-decoration: none;
}

